**
.DS_Store

!.taskfiles
!.taskfiles/**
!.editorconfig
!.markdownlint.yaml
!.pre-commit-config.yaml
!.prettierignore
!.prettierrc.yaml
!.yamllint.config.yaml
!Taskfile.yaml

!**/.gitignore
!**/*.c
!**/*.h
!assets
!assets/**
!Makefile
!html
!latex
!html/**
!latex/**
!qat.doxygen
!README.md